@model IEnumerable<MVC5_Week1.Models.v_customer>

@{
    ViewBag.Title = "v_customer";
}

<h2>v_customer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.as客戶銀行資訊數量)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.as客戶銀行資訊數量)
            </td>
        </tr>
    }

</table>
